/* Globálny štýl */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

/* Horný pás */
.header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header h1 {
    margin: 0;
    color: green;
}

.header nav a {
    text-decoration: none;
    color: #333;
    margin: 0 15px;
    font-weight: bold;
}

.header nav a:hover {
    color: green;
}

/* Hero obrázok */
.hero-container {
    position: relative;
    height: 50vh; /* Mierne zväčšenie výšky hero obrázku */
    overflow: visible;
}

.hero-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    border-radius: 10px;
}

/* Sekcia produktov */
.products {
    padding: 20px;
    background-color: #fff;
}

.section-title {
    text-align: center;
    margin-bottom: 20px;
    color: green;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.product {
    background: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product img {
    max-width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}

.product:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-title {
    font-weight: bold;
    color: green;
    margin: 0;
}
